@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  background-color: red;
}

.container {
  max-width: 1200px;
  background-color: #fff;
  margin: 0 auto;
}

.container__menu {
  display: flex;
}

.container__menu li {
  width: 100%;
}

.container__menu select {
  width: 100%;
  height: 40px;
  border: 3px solid #000;
  border-right: none;
  padding: 5px;
}

.container__menu .last-child {
  border-right: 3px solid #000;
}

/* grid-box */

.grid {
  display: grid;
  height: 750px;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(300px, 1fr);
  gap: 3px;
  background-color: #000;
}

.grid-box {
  width: 100%;
  height: 300px;
  background-color: #fff;
}

.grid-box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.grid-box__header span:first-child {
  text-transform: capitalize;
}

.grid-box__header span:last-child {
  text-transform: uppercase;
}

.grid-box__image {
  margin: 0 auto;
  width: 280px;
  height: 200px;
  background-image: url('https://picsum.photos/300/300');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.grid-box__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.grid-box__footer a {
  color: inherit;
}
